<div>
    <section id="banner" class=" flex justify-center items-center min-h-screen relative">
      <div class="z-10 w-full max-w-screen-lg text-left px-4 py-20 flex flex-col items-start gap-4">
        <span class="text-gray-100 text-sm sm:text-md font-bold">Mentorías académicas y profesionales</span>
        <h1 class="text-green-400 font-bold text-5xl sm:text-7xl lg:text-8xl">Conecta con un mentor</h1>
        <p class="text-gray-200 max-w-3xl leading-relaxed font-semibold">
          ¿Necesitas orientación académica o profesional? Te ofrecemos un espacio donde puedes conectarte con mentores especializados dispuestos a ayudarte a crecer, resolver dudas y alcanzar tus objetivos. ¡Agenda tu mentoría de manera fácil y rápida!
        </p>
        <a 
          [routerLink]="rutaConsultar"
          class="mt-4 px-6 py-3 text-lg bg-green-500 hover:bg-green-600 text-white font-semibold rounded-lg shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105"
        >
          Solicitar Mentoría
        </a>
      </div>
    </section>
  </div>
  