<div>
  <app-mentor-assignment-form
    [visible]="visibleForm"
    [mentors]="mentors"
    [ingresantes]="ingresantes"
    [assignment]="assignment"
    (register)="registerAssignment($event)"
    (update)="updateAssignment($event)"
    (close)="hideForm()"
  ></app-mentor-assignment-form>
  <div class="flex justify-between items-center py-2! gap-4! flex-wrap">
  <div class="relative flex items-center w-full md:w-auto">
    <i class="pi pi-search absolute left-3 text-gray-400/60"></i>
    <input [(ngModel)]="search"
           (input)="onSearch($event)"
           class="w-full pl-10! p-1! border border-gray-300/40 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-800 focus:border-transparent"
           type="text"
           pInputText
           placeholder="Buscar mentor o ingresante"
    />
  </div>
  <div class="flex gap-2">
    <button
      (click)="showForm()"
      class="px-4 py-1 cursor-pointer hover:bg-gray-700 text-lg bg-gray-800 text-white font-semibold border-none rounded-md"
    >
      Registrar asignación
    </button>
    <button
      (click)="assignAutomaticAssignments()"
      class="px-4 py-1 cursor-pointer bg-emerald-600 hover:bg-emerald-700 text-white font-semibold border-none rounded-md"
      pTooltip="Asignar automáticamente los mentores"
      tooltipPosition="top"
    >
      <i class="pi pi-cog mr-2"></i>
      Asignación automática
    </button>
  </div>
</div>

  <div class="flex-grow overflow-auto relative">
    <p-table
      [value]="assignments"
      [paginator]="true"
      [rowHover]="true"
      [first]="first"
      [rows]="rows"
      [totalRecords]="assignments.length"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
      scrollable="true"
      scrollHeight="flex"
      styleClass="h-full"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Mentor</th>
          <th>Ingresante</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-assignment>
        <tr>
          <td>
            {{ assignment.mentor?.personalInformation?.name }} {{ assignment.mentor?.personalInformation?.lastName }}
          </td>
          <td>
            {{ assignment.user?.personalInformation?.name }} {{ assignment.user?.personalInformation?.lastName }}
          </td>
          <td>
            <button (click)="showForm(assignment)" class="cursor-pointer" title="Actualizar">
              <i class="pi pi-pencil hover:bg-green-700 hover:text-white p-2 rounded-full"></i>
            </button>
            <button (click)="deleteAssignment(assignment)" class="cursor-pointer" title="Eliminar">
              <i class="pi pi-trash hover:bg-red-500 hover:text-white p-2 rounded-full"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
