<div
  [ngClass]="{
    'fixed z-50 md:static md:visible w-64': !isMenuVisible,
    'invisible w-0': isMenuVisible
  }"
  class="bg-white h-svh w-72 flex flex-col gap-2 p-2 transition-all duration-500 ease-in-out overflow-hidden"
>
  <div class="p-4! flex justify-center">
    <a
      [routerLink]="'/dashboard'"
      (click)="clearFocus()"
      class="text-black font-bold text-4xl text-center py-2!"
    >
      Mentoria
    </a>
    <button
      class="self-start absolute -right-0 mr-2! cursor-pointer hover:bg-gray-700 rounded-full p-1!"
      [ngClass]="{
        'visible md:invisible': !isMenuVisible,
        invisible: isMenuVisible
      }"
      (click)="toggleMenu.emit()"
    >
      <i class="pi pi-times text-white text-lg"></i>
    </button>
  </div>
  <div class="h-svh">
    
  <p-panelmenu [model]="items" styleClass="bg-transparent! border-none! text-white!" />
  </div>
</div>
