<div [formGroup]="personalForm" class="flex flex-col flex-1 gap-4 overflow-auto p-1">
    <app-title-form [title]="this.title" />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <label for="dni" class="flex flex-col gap-2 font-bold">
            DNI
            <input 
                formControlName="dni"
                type="text"
                maxlength="9"
                placeholder="Ingrese su DNI"
                class="w-full border-2 border-gray-300 rounded-md p-2! font-normal"
                [ngClass]="{'border-red-500': this.campoInvalido('dni')}"
                (keypress)="permitirSoloNumeros($event)"
                (input)="limitarLongitud($event, 9)"
            />

        </label>

        <label for="name" class="flex flex-col gap-2 font-bold">
            Nombre
            <input 
                formControlName="name"
                type="text"
                placeholder="Ingrese su nombre"
                class="w-full border-2 border-gray-300 rounded-md p-2! font-normal"
                [ngClass]="{'border-red-500': this.campoInvalido('name')}"
                (keypress)="permitirSoloLetras($event)"
            />

        </label>

        <label for="lastName" class="flex flex-col gap-2 font-bold">
            Apellido
            <input 
                formControlName="lastName"
                type="text"
                placeholder="Ingrese su apellido"
                class="w-full border-2 border-gray-300 rounded-md p-2! font-normal"
                [ngClass]="{'border-red-500': this.campoInvalido('lastName')}"
                (keypress)="permitirSoloLetras($event)"
            />
        </label>

        <label for="sex" class="flex flex-col gap-2 font-bold">
            Sexo
            <select 
                name="" 
                id=""
                formControlName="sex" 
                class="w-full border-2 border-gray-300 rounded-md p-2! font-normal " 
                [ngClass]="{'border-red-500': this.campoInvalido('sex')}"
            >
                <option value="">Seleccione su Sexo</option>
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
            </select>
        </label>

        <label for="phone" class="flex flex-col gap-2 font-bold">
            Telefono
            <input 
                formControlName="phone"
                type="text"
                maxlength="9"
                placeholder="Ingrese su teléfono"
                class="w-full border-2 border-gray-300 rounded-md p-2! font-normal"
                [ngClass]="{'border-red-500': this.campoInvalido('phone')}"
                (keypress)="permitirSoloNumeros($event)"
                (input)="limitarLongitud($event, 9)"
            />
        </label>
    </div>
    
</div>