<!-- Toast -->
<p-toast class="z-50"
/>

<!-- Router Outlet -->
<main class="relative flex flex-col h-screen">
    <div class="" [ngClass]="{'overflow-auto flex-grow  relative  shadow-md h-full': this.cargandoInvitado()}">
        <router-outlet />
    </div>
    @if (this.cargandoInvitado()) {
        <app-loading />
    }
    <script>
  window.watsonAssistantChatOptions = {
    integrationID: "84ac297a-ad12-471f-a681-18320e1293f2", // The ID of this integration.
    region: "aws-us-east-1", // The region your integration is hosted in.
    serviceInstanceID: "20250605-2000-2343-504b-d22a03b6a476", // The ID of your service instance.
    onLoad: async (instance) => { await instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</main>

