<p-dialog header="{{title}}" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" (onHide)="closeDialog()">
    <span class="p-text-secondary block mb-5!">{{actionType}} asignación de mentor.</span>
    <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">
        <label class="flex flex-col gap-2 font-bold">
            Mentor
            <select formControlName="idMentor"
                class="w-full border-2 border-gray-400 rounded-md p-2! font-normal"
                [ngClass]="{'border-red-500': isInvalidField('idMentor')}">
                <option value="">Seleccione un mentor</option>
                <option *ngFor="let mentor of mentors" [value]="mentor.id">
                  {{ mentor.personalInformation.name }} {{ mentor.personalInformation.lastName }}
                </option>
            </select>
            <span *ngIf="isInvalidField('idMentor')" class="text-red-600 text-xs">Este campo es requerido</span>
        </label>
        <label class="flex flex-col gap-2 font-bold">
            Ingresante
            <select formControlName="idUser"
                class="w-full border-2 border-gray-400 rounded-md p-2! font-normal"
                [ngClass]="{'border-red-500': isInvalidField('idUser')}">
                <option value="">Seleccione un ingresante</option>
                <option *ngFor="let user of ingresantes" [value]="user.id">
                  {{ user.personalInformation.name }} {{ user.personalInformation.lastName }}
                </option>
            </select>
            <span *ngIf="isInvalidField('idUser')" class="text-red-600 text-xs">Este campo es requerido</span>
        </label>
        <div class="flex justify-end gap-2 mt-4!">
            <p-button type="button" label="Cancelar" severity="secondary" (click)="closeDialog()"></p-button>
            <p-button type="submit" [label]="actionType"></p-button>
        </div>
    </form>
</p-dialog>
