<header 
  [ngClass]="{ 'bg-negro': isScrolled || alwaysFixed }"
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="w-1000 h-11 flex justify-between items-center">
    <div class="flex gap-2 justify-center">
      <div class="block w-1 rounded-sm bg-fondo-verde"></div>
      <a class="text-xl font-bold" [routerLink]="['/']">Mentoria</a>
    </div>
    <!-- Botón de hamburguesa para pantallas pequeñas -->
    <button 
      type="button" 
      class="lg:hidden text-letra-blanca" 
      (click)="menuVisible = true">
      <i class="pi pi-bars text-2xl"></i>
    </button>

    <nav class="hidden md:flex gap-6">
      @for (option of listaDeOpciones; track option.id) {
        <a 
          class="text-sm font-medium hover:underline underline-offset-4" 
          [routerLink]="'/'" [fragment]="option.url">
          {{option.label}}
        </a>
        @if (option != listaDeOpciones[listaDeOpciones.length - 1]) {
          <div class="h-6 w-px bg-letra-blanca opacity-50"></div> <!-- Separador -->
        }
      }
    </nav>
    
    
    <a 
      [routerLink]="['/autenticacion/iniciar-sesion']" 
      class="hidden lg:flex text-lg text-letra-blanca font-semibold no-underline border-b-2 border-transparent hover:border-b-2 hover:border-fondo-verde box-border transition duration-300" >
      Iniciar Sesion
    </a>

    


  </div>
</header>
