<header 
  class="sticky top-0 z-50 w-full border-b border-gray-300/40 bg-white ">
  <div class=" py-2 px-1 flex justify-between items-center">
    <div class="flex gap-2 justify-center">
      <img src="assets/images/logo.jpg" alt="logo de la urp" class="" />
      <!--<a class="text-xl font-bold" [routerLink]="['/']">Mentoria</a>-->
    </div>
    <!-- Botón de hamburguesa para pantallas pequeñas -->
    <!--<button 
      type="button" 
      class="lg:hidden text-letra-blanca" 
      (click)="menuVisible = true">
      <i class="pi pi-bars text-2xl"></i>
    </button>-->

    <nav class="hidden lg:flex gap-6 items-center">
      @for (option of listaDeOpciones; track option.id) {
        <a 
          class="text-sm font-medium underline-offset-4 text-gray-500 transition-all duration-300 ease-in-out transform hover:scale-105 cursor-pointer" 
          (click)="scrollToSection(option.url)"
          >
          {{option.label}}
        </a>
        @if (option != listaDeOpciones[listaDeOpciones.length - 1]) {
          <div class="h-6 w-px bg-gray-400 opacity-50"></div> <!-- Separador -->
        }
      }
    </nav>
    
    
    <div class="flex gap-4">
      <a 
        [routerLink]="rutaIncripcion"
        class="px-4 py-2 text-lg bg-green-900 hover:bg-green-900/90 text-white font-semibold rounded-lg shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
      >
        Inscribirse
      </a>

      <a 
        [routerLink]="rutaAutenticacion"
        class="px-4 py-2 text-lg bg-white hover:bg-white/90 text-black font-semibold rounded-lg  transition-all duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
      >
        Iniciar Sesión
      </a>
    </div>

  </div>
</header>
