/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {
    --color-prymary: "#14613d";
    --color-secondary: "#ffffff";
    --color-thrird: "#333333";
    --color-quart: "#f5f5f5";
    --color-quint: "#19191c";
}