<div class="flex flex-col flex-1 gap-4 overflow-auto p-4">
    <app-title-form [title]="title" />
  
    <div class="bg-white rounded-xl p-4 space-y-6">
      <!-- Rol -->
      <div>
        <h3 class="text-xl font-bold text-gray-700">Rol</h3>
        <p class="text-gray-600">{{ inscripcionForm?.value?.role?.id.name }}</p>
      </div>
  
      <!-- Información Personal -->
      <div>
        <h3 class="text-xl font-bold text-gray-700">Información Personal</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div><strong>DNI:</strong> {{ inscripcionForm?.value?.personalInformation?.dni }}</div>
          <div><strong>Nombre:</strong> {{ inscripcionForm?.value?.personalInformation?.name }}</div>
          <div><strong>Apellido:</strong> {{ inscripcionForm?.value?.personalInformation?.lastName }}</div>
          <div><strong>Sexo:</strong> {{ inscripcionForm?.value?.personalInformation?.sex }}</div>
          <div><strong>Teléfono:</strong> {{ inscripcionForm?.value?.personalInformation?.phone }}</div>
        </div>
      </div>
  
      <!-- Información Académica -->
      <div>
        <h3 class="text-xl font-bold text-gray-700">Información Académica</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div><strong>Código:</strong> {{ inscripcionForm?.value?.academicInformation?.code }}</div>
          <div><strong>Email:</strong> {{ inscripcionForm?.value?.academicInformation?.email }}</div>
          <div><strong>Carrera:</strong> {{ inscripcionForm?.value?.academicInformation?.career?.id.name }}</div>
          <div><strong>Ciclo:</strong> {{ inscripcionForm?.value?.academicInformation?.cicle }}</div>
          <div class="md:col-span-2"><strong>Expectativas:</strong> {{ inscripcionForm?.value?.academicInformation?.expectative }}</div>
        </div>
      </div>
    </div>
  </div>
  