<div class="">
    <app-user-form 
        [visible]="visibleFormulario" 
        [usuario]="user"
        (registrar)="UserCreate($event)"
        (actualizar)="UserUpdate($event)"
        (cerrar)="ocultarFormulario()"
    />
    
    <div class="flex justify-end items-center py-2! flex-wrap-reverse gap-3">
        <div class="flex w-full md:w-auto gap-2 items-center">
            <div class="relative flex items-center w-full">
                <i class="pi pi-search absolute left-3 text-gray-400/60"></i>
                <input [(ngModel)]="busqueda" class="w-full pl-10! p-1! border border-gray-300/40 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-800 focus:border-transparent" 
                    type="text" 
                    pInputText 
                    placeholder="Buscar" 
                />
            </div>

            <button 
                (click)="mostrarFormulario()"
                class="px-4! py-1! cursor-pointer hover:bg-gray-700 text-lg bg-gray-800 text-white font-semibold border-none rounded-md"
            >
                Registrar
            </button>
        </div>
    </div>
    <div class="flex-grow overflow-auto relative ">
        <p-table
            [value]="userList | userSearch: busqueda"
            [paginator]="true"
            [rows]="10"
            [first]="first"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
            (onPage)="pageChange($event)"
            scrollable="true"
            scrollHeight="flex"
            styleClass="h-full"
        >
        <ng-template pTemplate="header">
            <tr>
                <th class="px-2! py-2! border-b border-gray-300/40 w-3/12 ">Nombre</th>
                <th class="px-2! py-2! border-b border-gray-300/40 w-3/12 ">Apellido</th>
                <th class="px-2! py-2! border-b border-gray-300/40 w-3/12 ">Nombre de Usuario</th>
                <th class="px-1! py-2! border-b border-gray-300/40 w-3/12">Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td class="px-1! py-1! border-b border-gray-300/40 ">
                    {{ usuario.personalInformation.name }}
                </td>

                <td class="px-1! py-1! border-b border-gray-300/40 ">
                    {{ usuario.personalInformation.lastName }}
                </td>

                <td class="px-1! py-1! border-b border-gray-300/40 ">
                    {{ usuario.userName }}
                </td>
                
                <td class="px-1! py-1! border-b border-gray-300/40">
                    <div class="flex gap-1 ">
                        <button (click)="mostrarFormulario(usuario)" 
                        class="cursor-pointer"
                        title="Actualizar">
                            <i class="pi pi-pencil hover:bg-green-700 hover:text-white p-2! rounded-full"></i>
                        </button>
                        <button (click)="UserDelete(usuario)" 
                        class="cursor-pointer"
                        title="Eliminar">
                            <i class="pi pi-trash hover:bg-red-500 hover:text-white p-2! rounded-full"></i>
                        </button>
                    </div>
                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginator">
            <div class="flex justify-end p-1 sticky bottom-0 bg-white">
            <p-paginator [rows]="5" [totalRecords]="userList.length" [rowsPerPageOptions]="[10, 25, 50]"></p-paginator>
            </div>
        </ng-template>
        </p-table>

    </div>

</div>
